---
import heroImage from '/PortfolioSite2023/src/assets/images/hero.png';
import newImg from '/PortfolioSite2023/src/assets/images/7045130.jpg';
import { Image } from '@astrojs/image/components';
import Button from '@components/ui/Button.astro';
---

<section
	data-testid="hero"
	class="flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-calibri text-3xl text-black dark:text-white lg:text-5xl">
				Hello! My name is <span class="text" style="color:#5800CA">Joshua Everett</span>. I am a creative, self-taught, results-driven software developer.
			</h1>
		</div>
		<a class="hover:underline" href="./#about">
		<div class="mb-10">
			<Button style={'primary'} size={'lg'} class={'flex'} on name="learn more">Learn more</Button>
		</a>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center">
		<Image class="rounded-full"
			src={newImg}
			alt="Infinite tech"
			aspectRatio="4:4"
			format="png"
			width={1000}
			height={1000}
			loading="eager"
		/>
	</div>
</section>
